/* User Profile Details Box */
.userProfileDetailsBox {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  padding: 5px;
}

/* User Profile Left Box */
.userProfileDetailsBox .userProfileLeft {
  width: 30%;
  min-height: 60vh;
  background-color: #f2f8f8;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/* Profile Image */
.userProfileDetailsBox .userProfileLeft img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px;
}

/* Full Name */
.userProfileDetailsBox .userProfileLeft p {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 550;
}

/* Socials Box */
.userProfileDetailsBox .userProfileLeft .socialsBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* Fol Box */
.userProfileDetailsBox .userProfileLeft .socialsBox .folBox {
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Fol Box Para */
.userProfileDetailsBox .userProfileLeft .socialsBox .folBox p {
  font-size: 14px;
  font-weight: 550;
}

/* Divider */
.userProfileDetailsBox .userProfileLeft .socialsBox hr {
  background-color: rgb(0, 0, 0);
  width: 2px;
  height: 80px;
  margin: 0;
}

/* FolButton Box */
.userProfileDetailsBox .userProfileLeft .folButtonBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* Heading */
.userProfileDetailsBox .userProfileLeft h6 {
  margin: 15px 0;
  cursor: pointer;
  font-weight: 600;
  color: rgb(3, 62, 151);
}

/* User Profile Right Box */
.userProfileDetailsBox .userProfileRight {
  width: 50%;
  min-height: 60vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  margin: 15px 0;
}

/* Edit Box */
.userProfileDetailsBox .userProfileRight .editbox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin: 10px;
}

/* Edit Input */
.userProfileDetailsBox .userProfileRight .editbox .editInput {
  width: 95%;
  background-color: rgba(2, 28, 49, 0.788);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Label */
.userProfileDetailsBox .userProfileRight .editbox .editInput > label {
  color: rgb(255, 196, 0);
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Text Area */
.userProfileDetailsBox .userProfileRight .editboxTextArea {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Input Text Area */
.userProfileDetailsBox .userProfileRight .editboxTextArea .editInputTextArea {
  width: 100%;
  background-color: rgba(2, 28, 49, 0.788);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: none;
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* Cont Content Box */
.contContent {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Contact Box */
.contc {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Contact Para */
.contc p {
  color: #016786;
  font-size: 16px;
  font-weight: 550;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 2px;
}

/* Contact Input Box */
.contc input {
  border-style: none;
  padding: 10px;
  width: 100%;
  box-shadow: rgba(38, 1, 59, 0.096) 0px 10px 36px 0px,
    rgba(2, 79, 131, 0.164) 0px 0px 0px 1px;
  border-radius: 5px;
  color: #000000;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/* Contact Input Focus */
.contc input:focus {
  outline: none;
}

/* Inner Contact Box */
.contc .innerContc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* Media Query For Responsive */
@media only screen and (max-width: 932px) {
  /* User Profile Details Box */
  .userProfileDetailsBox {
    flex-direction: column;
  }

  /* User Profile Left Box */
  .userProfileDetailsBox .userProfileLeft {
    width: 50%;
    margin: 20px 0;
  }

  /* User Profile Right Box */
  .userProfileDetailsBox .userProfileRight {
    width: 90%;
    margin: 20px 0;
  }
}

/* Media Query For Responsive */
@media only screen and (max-width: 618px) {
  /* User Profile Left Box */
  .userProfileDetailsBox .userProfileLeft {
    width: 90%;
    margin: 20px 0;
  }

  /* User Profile Right Box */
  .userProfileDetailsBox .userProfileRight {
    width: 90%;
    margin: 20px 0;
  }
}

/* Media Query For Responsive */
@media only screen and (max-width: 411px) {
  /* Social Box */
  .userProfileDetailsBox .userProfileLeft .socialsBox {
    flex-direction: column;
  }
  /* Divider */
  .userProfileDetailsBox .userProfileLeft .socialsBox hr {
    width: 90%;
    height: 2px;
  }
}
