/* Main Home */
.homeCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* First Home Div */
.homebox1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  z-index: 2;
}

/* Video */
.homebox1 video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
  align-self: center;
}

/* Middle Welcome Container */
.homebox1 .welcomeContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  right: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.623);
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  animation: moving 1.5s linear;
}

/* Middle Welcome Container Moving Animation */
@keyframes moving {
  0% {
    top: -35%;
  }

  50% {
    top: 0%;
  }

  100% {
    top: 35%;
  }
}

/* H1 */
.homebox1 .welcomeContainer h1 {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  text-transform: capitalize;
}

/* H5 */
.homebox1 .welcomeContainer h5 {
  color: rgb(0, 247, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
  text-transform: capitalize;
}

/* Second Home Div */
.homebox2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to right, #001614, #15140f, #15140f);
  overflow: hidden;
}

/* Second Home Div Bubble Span */
.homebox2 span {
  position: absolute;
  bottom: -50px;
  background: linear-gradient(
    120deg,
    rgba(49, 1, 49, 0.479),
    rgba(2, 19, 73, 0.466),
    transparent
  );
  border-radius: 50%;

  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  animation: animate 4s linear infinite;
  z-index: 1;
}

/* Second Home Div Bubble Span Before */
.homebox2 span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(rgba(0, 255, 149, 0.219), transparent);
  border-radius: 50%;
}

/* Second Home Div Bubble Animation */
@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    transform: translateY(-1200%);
    opacity: 0;
  }
}

/* Second Home Div Left and Right Container */
.homebox2 .enjoyLeftContainer,
.homebox2 .enjoyRightContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* H2*/
.homebox2 .enjoyLeftContainer h2 {
  color: whitesmoke;
  font-family: cursive;
  text-align: center;
  letter-spacing: 1px;
  z-index: 2;
}

/* Enjoy Button */
.homebox2 .enjoyLeftContainer .enjoyButton {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Button */
.homebox2 .enjoyLeftContainer .enjoyButton Button {
  color: whitesmoke;
  font-family: cursive;
  text-align: center;
  letter-spacing: 1.2px;
  z-index: 2;
}

/* Note Outer for Mobile Design */
.homebox2 .enjoyRightContainer .noteOuter {
  width: 320px;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(13, 53, 88, 0.575);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transform: rotate(-25deg);
  margin: 40px 0;
  z-index: 2;
}

/* Note Outer Image */
.homebox2 .enjoyRightContainer .noteOuter img {
  width: 100%;
  min-height: 500px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Media Query for Responsive */
@media only screen and (max-width: 991px) {
  /* Middle Welcome Container */
  .homebox1 .welcomeContainer {
    left: 5%;
    right: 5%;
  }
}

/* Media Query for Responsive */
@media only screen and (max-width: 1033px) {
  .homebox2 {
    min-height: 50vh;
  }
  /* HomeBox2 Right Container */
  .homebox2 .enjoyRightContainer {
    display: none;
  }

  /* HomeBox2 Left Container */
  .homebox2 .enjoyLeftContainer {
    width: 80%;
  }
}

/* Home Box 3 */
.homebox3 {
  width: 100%;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 50px;
}

/* Carousel Image */
.homebox3 #carouselExampleIndicators .img {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* Carousel Heading */
.homebox3 #carouselExampleIndicators h3 {
  text-align: center;
  margin: 30px 0px 50px 0px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
}

/* Media Query for Responsive */
@media only screen and (max-width: 425px) {
  .homebox3 #carouselExampleIndicators .img {
    width: 250px;
    height: 250px;
  }
}
