/* About Page */
.aboutPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./coffee-cup-desk-notebook.jpg') no-repeat;
    background-size: cover;
    padding-top: 120px;
}

/* About Page Paragraph */
.aboutPage p{
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.945);
    border-radius: 5px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: white;
}