/* All Note Details Box */
.allNotesDetailBox {
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89253e,
    #3a6186
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89253e,
    #3a6186
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Add Note Div Heading */
.allNotesDetailBox h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Media Query for Responsive */
@media only screen and (max-width: 353px) {
  .allNotesDetailBox {
    padding-top: 180px;
  }
}
