/* All Note Details Box */
.allNotesDetailBox {
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

/* Add Note Div Heading */
.allNotesDetailBox h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Media Query for Responsive */
@media only screen and (max-width: 353px) {
  .allNotesDetailBox {
    padding-top: 180px;
  }
}
